<div class="flex items-center justify-between gap-1 px-5 order-item-row nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
    <div>
        <%= f.label :dispatch_item_id, 'Product', class:"text-xs text-gray-600 dark:text-gray-400" %> <i class="text-sm text-red-600 dark:text-red-400">*</i>
        <%= f.collection_select :dispatch_item_id, @dispatch_items, :id, :name, {prompt: "Choose a product"}, {class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"} %>
        <%= f.hidden_field :quantity_sold, value: 0 %>
        <%= f.hidden_field :purchase_price  %>
    </div>

    <div>
        <%= f.label :expiry_date , class:"text-xs text-gray-600 dark:text-gray-400"%> <i class="text-sm text-red-600 dark:text-red-400">*</i>
        <%= f.date_field :expiry_date , class:"quantity-field bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"%>
    </div>

    <div>
        <%= f.label :quantity_dispatched , class:"text-xs text-gray-600 dark:text-gray-400"%> <i class="text-sm text-red-600 dark:text-red-400">*</i>
        <%= f.text_field :quantity_dispatched, step: 1, min: 1 , value: f.object.quantity_dispatched, class:"quantity-field bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"%>
    </div>

    <div>
        <%= f.label :quantity_received_full , class:"text-xs text-gray-600 dark:text-gray-400"%> <i class="text-sm text-red-600 dark:text-red-400">*</i>
        <%= f.text_field :quantity_received, step: 1, min: 1 ,class:"quantity-field bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"%>
    </div>

    <div>
        <%= f.label :breakages , class:"text-xs text-gray-600 dark:text-gray-400"%> <i class="text-sm text-red-600 dark:text-red-400">*</i>
        <%= f.text_field :breakages, step: 1, min: 1 , class:"quantity-field bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"%>
    </div>

    <div>
        <%= f.label :selling_price , class:"text-xs text-gray-600 dark:text-gray-400"%> <i class="text-sm text-red-600 dark:text-red-400">*</i>
        <%= f.text_field :selling_price, step: 1, min: 1, class:"quantity-field bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"%>
    </div>

</div>
<%= f.hidden_field :_destroy %>

