<%= form_with(model: department_module) do |form| %>
  <% if department_module.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(department_module.errors.count, "error") %> prohibited this department_module from being saved:</h2>

      <ul>
        <% department_module.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :module_url, style: "display: block" %>
    <%= form.text_field :module_url %>
  </div>

  <div>
    <%= form.label :department_id, style: "display: block" %>
    <%= form.text_field :department_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
