<div id="<%= dom_id employee %>">
  <p>
    <strong>Firstname:</strong>
    <%= employee.firstname %>
  </p>

  <p>
    <strong>Middlename:</strong>
    <%= employee.middlename %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= employee.lastname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= employee.mobile %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= employee.dob %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= employee.position %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= employee.address %>
  </p>

  <p>
    <strong>Nssf:</strong>
    <%= employee.nssf %>
  </p>

  <p>
    <strong>Tin:</strong>
    <%= employee.tin %>
  </p>

</div>
