<div id="<%= dom_id truck %>">
  <p>
    <strong>Plate number:</strong>
    <%= truck.plate_number %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= truck.model %>
  </p>

  <p>
    <strong>Chasis:</strong>
    <%= truck.chasis %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= truck.status %>
  </p>

  <p>
    <strong>Car make:</strong>
    <%= truck.car_make_id %>
  </p>

</div>
