
<div class="flex items-center justify-center w-full h-screen">
  <div class="grid w-full sm:w-1/3">
    
    <div class="grid-cols-1 p-6 bg-white border-0 rounded-lg shadow-lg dark:bg-gray-800">
      <p class="text-lg text-center text-slate-500"><i class="fas fa-user"></i></p>
      
      <p class="mb-3 text-center text-slate-500">Login</p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="mb-3">
          <%= f.label :email, class:"text-sm" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
        </div>

        <div class="mb-3">
          <%= f.label :password, class:"text-sm" %>
          <%= f.password_field :password, autocomplete: "current-password", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="mb-3">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class:"text-sm" %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class:"bg-slate-700 text-slate-100 p-1 px-3 text-md rounded-full dark:text-slate-100 dark:bg-slate-700 w-full" %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>
