<div id="<%= dom_id system_module %>">
  <p>
    <strong>Name:</strong>
    <%= system_module.name %>
  </p>

  <p>
    <strong>Module url:</strong>
    <%= system_module.module_url %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= system_module.icon %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= system_module.department_id %>
  </p>

</div>
