<div id="<%= dom_id vendor_payment %>">
  <p>
    <strong>Territory:</strong>
    <%= vendor_payment.territory_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vendor_payment.user_id %>
  </p>

  <p>
    <strong>Payment date:</strong>
    <%= vendor_payment.payment_date %>
  </p>

  <p>
    <strong>Journal no:</strong>
    <%= vendor_payment.journal_no %>
  </p>

  <p>
    <strong>Ref no:</strong>
    <%= vendor_payment.ref_no %>
  </p>

  <p>
    <strong>Payments:</strong>
    <%= vendor_payment.payments %>
  </p>

  <p>
    <strong>Suspence:</strong>
    <%= vendor_payment.suspence %>
  </p>

</div>
