<div id="<%= dom_id bank_transfer %>">
  <p>
    <strong>User:</strong>
    <%= bank_transfer.user_id %>
  </p>

  <p>
    <strong>Territory:</strong>
    <%= bank_transfer.territory_id %>
  </p>

  <p>
    <strong>From account:</strong>
    <%= bank_transfer.from_account_id %>
  </p>

  <p>
    <strong>To account:</strong>
    <%= bank_transfer.to_account_id %>
  </p>

  <p>
    <strong>Transfer date:</strong>
    <%= bank_transfer.transfer_date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= bank_transfer.amount %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= bank_transfer.reason %>
  </p>

  <p>
    <strong>Transfer ref:</strong>
    <%= bank_transfer.transfer_ref %>
  </p>

</div>
