<div id="<%= dom_id beer_dispatch %>">
  <p>
    <strong>Fdn number:</strong>
    <%= beer_dispatch.fdn_number %>
  </p>

  <p>
    <strong>Truck numberplate:</strong>
    <%= beer_dispatch.truck_numberplate %>
  </p>

  <p>
    <strong>Trailer plate:</strong>
    <%= beer_dispatch.trailer_plate %>
  </p>

  <p>
    <strong>Second trailer:</strong>
    <%= beer_dispatch.second_trailer %>
  </p>

  <p>
    <strong>Delivery plant:</strong>
    <%= beer_dispatch.delivery_plant %>
  </p>

  <p>
    <strong>Shipping point:</strong>
    <%= beer_dispatch.shipping_point %>
  </p>

  <p>
    <strong>Loading time:</strong>
    <%= beer_dispatch.loading_time %>
  </p>

  <p>
    <strong>Delivery plant:</strong>
    <%= beer_dispatch.delivery_plant %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= beer_dispatch.driver_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= beer_dispatch.order_id %>
  </p>

  <p>
    <strong>Dispatch no:</strong>
    <%= beer_dispatch.dispatch_no %>
  </p>

  <p>
    <strong>User:</strong>
    <%= beer_dispatch.user_id %>
  </p>

</div>
