<div id="<%= dom_id inventory_item %>">
  <p>
    <strong>Inventory:</strong>
    <%= inventory_item.inventory_id %>
  </p>

  <p>
    <strong>Nile product:</strong>
    <%= inventory_item.nile_product_id %>
  </p>

  <p>
    <strong>Quantity ordered:</strong>
    <%= inventory_item.quantity_ordered %>
  </p>

  <p>
    <strong>Quantity dispatched:</strong>
    <%= inventory_item.quantity_dispatched %>
  </p>

  <p>
    <strong>Quantity received:</strong>
    <%= inventory_item.quantity_received %>
  </p>

  <p>
    <strong>Quantity sold:</strong>
    <%= inventory_item.quantity_sold %>
  </p>

  <p>
    <strong>Purchase price:</strong>
    <%= inventory_item.purchase_price %>
  </p>

  <p>
    <strong>Selling price:</strong>
    <%= inventory_item.selling_price %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= inventory_item.is_active %>
  </p>

  <p>
    <strong>Is closed:</strong>
    <%= inventory_item.is_closed %>
  </p>

  <p>
    <strong>Is deleted:</strong>
    <%= inventory_item.is_deleted %>
  </p>

  <p>
    <strong>User:</strong>
    <%= inventory_item.user_id %>
  </p>

  <p>
    <strong>Manufacture date:</strong>
    <%= inventory_item.manufacture_date %>
  </p>

  <p>
    <strong>Expiry date:</strong>
    <%= inventory_item.expiry_date %>
  </p>

  <p>
    <strong>Delivery time:</strong>
    <%= inventory_item.delivery_time %>
  </p>

</div>
