<div id="<%= dom_id bank_withdraw %>">
  <p>
    <strong>Bank account:</strong>
    <%= bank_withdraw.bank_account_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bank_withdraw.user_id %>
  </p>

  <p>
    <strong>Territory:</strong>
    <%= bank_withdraw.territory_id %>
  </p>

  <p>
    <strong>Withdraw date:</strong>
    <%= bank_withdraw.withdraw_date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= bank_withdraw.amount %>
  </p>

  <p>
    <strong>Withdraw location:</strong>
    <%= bank_withdraw.withdraw_location %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= bank_withdraw.reason %>
  </p>

  <p>
    <strong>Withdrawn by:</strong>
    <%= bank_withdraw.withdrawn_by %>
  </p>

  <p>
    <strong>Transaction reference:</strong>
    <%= bank_withdraw.transaction_reference %>
  </p>

  <p>
    <strong>Additional info:</strong>
    <%= bank_withdraw.additional_info %>
  </p>

</div>
