<div id="<%= dom_id stock_transfer %>">
  <p>
    <strong>Transfer type:</strong>
    <%= stock_transfer.transfer_type %>
  </p>


  <p>
    <strong>Source:</strong>
    <%= stock_transfer.source_id %>
    <%= stock_transfer.territory.name %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= stock_transfer.destination_id %>
  </p>

  <p>
    <strong>Transfer date:</strong>
    <%= stock_transfer.transfer_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= stock_transfer.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= stock_transfer.status %>
  </p>

</div>
