<%= render "/shared/inventory_nav"%>
<%= render "/shared/beer_movement_nav"%>
<div class="px-4 pt-4 bg-white dark:bg-gray-900">
  <div class="grid w-full grid-cols-2 gap-4 mb-3">
    <div class="col-span-1">
      <h1 class="text-gray-800 text-md dark:text-gray-100">Beer inventories</h1>
    </div>
    <div class="col-span-1 text-right">
      <%= link_to "Export Excel",
      export_stock_transfers_path(
        query: params[:query],
        start_date: params[:start_date],
        end_date: params[:end_date]
      ),
      class: "px-4 py-2 text-sm text-white bg-green-600 rounded-lg hover:bg-green-700",
      data: { turbo: false } %>
    </div>  
  </div>
  <div class="flex w-full mb-3">
      <%= form_tag stock_transfers_path, class:"flex items-start  space-x-2", method: :get, data:{turbo_frame:"search_results", turbo_action:"advance", controller:"search", action:"input->search#submit"} do %>
      <label for="simple-search" class="sr-only">Search</label>
      <div class="flex w-full">
        <div class="absolute inset-y-0 flex items-center pointer-events-none start-0 ps-3">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
          <span class="sr-only">Search</span>
        </div>
        <%= form_tag stock_transfers_path,
          class:"flex items-end gap-2 flex-wrap",
          method: :get,
          data:{
            turbo_frame:"search_results",
            turbo_action:"advance",
            controller:"search",
            action:"input->search#submit"
          } do %>

        <!-- Search -->
        <div class="flex items-center justify-end w-full gap-2 md:w-auto">
          <div class="relative">
            <%= label_tag :search, "Search", class:"block mb-1 text-xs" %>
            <%= text_field_tag "query",
                params[:query],
                class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full ps-10 p-2.5",
                placeholder:"Search product ..." %>
          </div>

          <!-- Start Date -->
          <div>
            <%= label_tag :start_date, "From", class:"block mb-1 text-xs" %>
            <%= date_field_tag :start_date,
                params[:start_date],
                class:"bg-gray-50 border border-gray-300 text-sm rounded-lg p-2.5" %>
          </div>

          <!-- End Date -->
          <div>
            <%= label_tag :end_date, "To", class:"block mb-1 text-xs" %>
            <%= date_field_tag :end_date,
                params[:end_date],
                class:"bg-gray-50 border border-gray-300 text-sm rounded-lg p-2.5" %>
          </div>
        </div>
      <% end %> 
      </div>

    <% end %>
  </div>

<!-- Table -->
<div class="flex flex-col mt-6">
  <div class="overflow-x-auto rounded-lg">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden shadow sm:rounded-lg">
        <div id="inventories">
        <%= turbo_frame_tag "search_results" do%>
          <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
            <thead class="bg-gray-50 dark:bg-gray-700">
              <tr>
                <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                  Product Details
                </th>
                
              </tr>
            </thead>
            <tbody class="bg-white dark:bg-gray-800">
            <% @stock_transfers.each_with_index do |transfer, index| %>
              <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                <td class="w-1/4 p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                  <div class="flex flex-col space-y-1">
                    <span class="text-sm font-medium"><%= transfer.transfer_date&.strftime("%d %b, %Y") %></span>
                    <span class="text-xs">Type #: <span class="font-normal"><%= transfer.transfer_type.humanize %></span></span>
                    <%
                      description =
                        case transfer.transfer_type

                        when "branch_transfer"
                          if transfer.territory_id == current_territory.id
                            "To #{transfer.destination&.territory&.name || '-'}"
                          elsif transfer.destination_id == current_territory.id
                            "From #{transfer.source&.territory&.name || '-'}"
                          end

                        when "store_transfer"
                          if transfer.territory_id == current_territory.id
                            "To #{transfer.destination&.name || '-'}"
                          elsif transfer.destination_id == current_territory.id
                            "From #{transfer.source&.name || '-'}"
                          end

                        when "warehouse_transfer"
                          if transfer.territory_id == current_territory.id
                            "To Warehouse"
                          else
                            "From Warehouse"
                          end

                        when "distributor_transfer"
                          "From #{transfer.from_distributor.presence || 'Distributor'}"

                        else
                          "-"
                        end
                    %>

                    <span class="text-xs">
                      Description:
                      <span class="font-normal">
                        <%= description %>
                      </span>
                    </span>
                    
                    <span class="text-xs">Driver Details: <span class="font-normal"><%= "#{transfer.numberplate} - #{transfer.driver_details}" %></span></span>
                    <div class="flex items-center gap-2 mt-2">  
                      <button type="button" class="flex items-center gap-2 p-1 px-3 text-xs text-blue-800 bg-blue-200 rounded dark:text-blue-200 dark:bg-blue-800" id="order-menu-button" aria-expanded="false" data-dropdown-toggle="action-dropdown-<%=transfer.id%>" data-dropdown-placement="bottom">
                          <span class="flex-1 text-left ms-3 rtl:text-right whitespace-nowrap">Action</span>
                          <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="m1 1 4 4 4-4"/>
                          </svg>
                      </button>
                  
                      <!-- Dropdown menu -->
                      <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="action-dropdown-<%=transfer.id%>">
                          
                          <ul class="py-2" aria-labelledby="order-menu-button">

                            <!-- PENDING -->
                            <% if transfer.status == "pending" %>

                              <% if transfer.territory_id == current_territory.id %>
                                <!-- Sender -->
                                <li>
                                  <%= link_to edit_stock_transfer_path(transfer),
                                      data: { turbo: false },
                                      class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" do %>
                                    Edit
                                  <% end %>
                                </li>

                                <li>
                                  <button
                                    data-modal-target="popup-modal-<%= transfer.id %>"
                                    data-modal-toggle="popup-modal-<%= transfer.id %>"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                                    type="button">
                                    Delete
                                  </button>
                                </li>

                              <% elsif transfer.destination_id == current_territory.id %>
                                <!-- Receiver -->
                                <li>
                                  <%= link_to receive_stock_transfer_path(transfer),
                                      method: :patch,
                                      data: { turbo: false },
                                      class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" do %>
                                    Receive Transfer
                                  <% end %>
                                </li>

                                <li>
                                  <%= link_to reject_stock_transfer_path(transfer),
                                      method: :patch,
                                      data: { turbo: false },
                                      class: "block px-4 py-2 text-sm text-red-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-red-300 dark:hover:text-white" do %>
                                    Reject
                                  <% end %>
                                </li>
                              <% end %>

                            <!-- REJECTED -->
                            <% elsif transfer.status == "rejected" %>

                              <% if transfer.territory_id == current_territory.id %>
                                <!-- Sender -->
                                <li>
                                  <%= link_to edit_stock_transfer_path(transfer),
                                      data: { turbo: false },
                                      class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" do %>
                                    Edit
                                  <% end %>
                                </li>

                                <li>
                                  <button
                                    data-modal-target="popup-modal-<%= transfer.id %>"
                                    data-modal-toggle="popup-modal-<%= transfer.id %>"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                                    type="button">
                                    Delete
                                  </button>
                                </li>
                              <% end %>

                            <!-- RECEIVED -->
                            <% elsif transfer.status == "received" %>
                              <!-- Hide all actions -->

                            <% end %>

                          </ul>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="p-4 text-sm font-normal text-gray-900 whitespace-normal dark:text-white">
                  <table class="min-w-full border border-collapse border-gray-300 dark:border-gray-700">
                    <thead>
                      <tr class="bg-gray-100 dark:bg-gray-800">
                        <th class="px-2 py-1 text-xs font-normal border border-gray-300 dark:border-gray-700">Product</th>
                        <th class="px-2 py-1 text-xs font-normal border border-gray-300 dark:border-gray-700">Qty Transferred</th>
                        <th class="px-2 py-1 text-xs font-normal border border-gray-300 dark:border-gray-700">Qty Received</th>
                        <th class="px-2 py-1 text-xs font-normal border border-gray-300 dark:border-gray-700">Breakages</th>
                        <th class="px-2 py-1 text-xs font-normal border border-gray-300 dark:border-gray-700">DNR</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% transfer.stock_transfer_items.each_with_index do |item, index| %>
                        <tr>
                          <td class="px-2 py-1 text-xs font-normal border border-gray-300 dark:border-gray-700"><%= item.nile_product.name %></td>
                          <td class="px-2 py-1 text-xs font-normal text-right border border-gray-300 dark:border-gray-700"><%= number_with_delimiter(item.transfer_quantity) %></td>
                          <td class="px-2 py-1 text-xs font-normal text-right border border-gray-300 dark:border-gray-700"><%= number_with_delimiter(item&.quantity_received) %></td>
                          <td class="px-2 py-1 text-xs font-normal text-right border border-gray-300 dark:border-gray-700"><%= number_with_delimiter(item&.breakages.to_i) %></td>
                          <td class="px-2 py-1 text-xs font-normal text-right border border-gray-300 dark:border-gray-700"><%= number_with_delimiter(item.transfer_quantity.to_i - (item&.quantity_received.to_i + item&.breakages.to_i)) %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </td>
                
              </tr>
              <%= render "confirm_delete_modal", item: transfer%>
            <%end%>
            </tbody>
          </table>
          <%= render "pagination" %>
        <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
