<div id="<%= dom_id bank_deposit %>">
  <p>
    <strong>Bank account:</strong>
    <%= bank_deposit.bank_account_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bank_deposit.user_id %>
  </p>

  <p>
    <strong>Territory:</strong>
    <%= bank_deposit.territory_id %>
  </p>

  <p>
    <strong>Deposit date:</strong>
    <%= bank_deposit.deposit_date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= bank_deposit.amount %>
  </p>

  <p>
    <strong>Deposit location:</strong>
    <%= bank_deposit.deposit_location %>
  </p>

  <p>
    <strong>Source of income:</strong>
    <%= bank_deposit.source_of_income %>
  </p>

  <p>
    <strong>Deposited by:</strong>
    <%= bank_deposit.deposited_by %>
  </p>

  <p>
    <strong>Transaction reference:</strong>
    <%= bank_deposit.transaction_reference %>
  </p>

  <p>
    <strong>Additional info:</strong>
    <%= bank_deposit.additional_info %>
  </p>

</div>
