<div id="<%= dom_id vendor_adjustiment %>">
  <p>
    <strong>User:</strong>
    <%= vendor_adjustiment.user_id %>
  </p>

  <p>
    <strong>Purchase type:</strong>
    <%= vendor_adjustiment.purchase_type_id %>
  </p>

  <p>
    <strong>Adjustment date:</strong>
    <%= vendor_adjustiment.adjustment_date %>
  </p>

  <p>
    <strong>Territory:</strong>
    <%= vendor_adjustiment.territory_id %>
  </p>

</div>
