
<div class="px-4 pt-4 bg-white dark:bg-gray-900">
  <div class="grid w-full grid-cols-2 gap-4 mb-3">
    <div class="col-span-1">
      <h1 class="text-gray-800 text-md dark:text-gray-100">Vendor Adjustments</h1>
    </div>
    <div class="col-span-1 text-right">
      <%= link_to new_vendor_adjustiment_path, class:"bg-slate-700 text-slate-100 p-1 px-3 text-sm rounded-full dark:text-slate-100 dark:bg-slate-700" do %> <i class="fas fa-plus"></i> New adjustment<%end%>
    </div>  
  </div>

<!-- Table -->
<div class="flex flex-col mt-6">
  <div class="overflow-x-auto rounded-lg">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden shadow sm:rounded-lg">
        <div id="orders">
          <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
            <thead class="bg-gray-50 dark:bg-gray-700">
              <tr>
                <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                  #
                </th>
                <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                  Date.
                </th>
                <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                  Journal No.
                </th>
                <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                  Ref No.
                </th>
                <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                  Sale Type
                </th>
                <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                  Products
                </th>
                <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                  Action
                </th>
              </tr>
            </thead>
            <tbody class="bg-white dark:bg-gray-800">
            <% @vendor_adjustiments.each_with_index do |vendor_adjustiment, index| %>
              <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                  <span class="font-semibold"><%=index+1%></span>
                </td>
                <td class="p-4 text-sm font-normal text-gray-900 whitespace-normal dark:text-white">
                  <span class="font-semibold"><%=vendor_adjustiment.adjustment_date%></span>
                </td>
                <td class="p-4 text-sm font-normal text-gray-900 whitespace-normal dark:text-white">
                  <span class="font-normal"><%=vendor_adjustiment.journal_no%></span>
                </td>
                <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                  <span class="font-normal"><%=vendor_adjustiment.ref_no%></span>
                </td>
                <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">                
                  <span class="font-normal"><%=vendor_adjustiment.purchase_type.name%></span>
                </td>
                <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                  <% vendor_adjustiment.vendor_adjustiment_items.each do |item|%>
                    <div class="flex m-1 text-center">
                        <span class="text-xs font-normal"><%=item.nile_product.name%>- <%=item.quantity%> Crates</span>
                    </div>
                  <%end%>
                </td>
                <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                  <button type="button" class="flex items-center gap-2 p-1 px-3 text-xs text-blue-800 bg-blue-200 rounded dark:text-blue-200 dark:bg-blue-800" id="order-menu-button" aria-expanded="false" data-dropdown-toggle="action-dropdown-<%=vendor_adjustiment.id%>" data-dropdown-placement="bottom">
                    <span class="flex-1 text-left ms-3 rtl:text-right whitespace-nowrap">Action</span>
                    <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
            
                <!-- Dropdown menu -->
                <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="action-dropdown-<%=vendor_adjustiment.id%>">                    
                    <ul class="py-2" aria-labelledby="order-menu-button">
                        <li>
                            <%= link_to edit_vendor_adjustiment_path(vendor_adjustiment), data:{turbo: false}, class:"block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" do %>Edit<%end%>
                        </li>
                        <li>
                            <button data-modal-target="popup-modal-<%=vendor_adjustiment.id%>" data-modal-toggle="popup-modal-<%=vendor_adjustiment.id%>" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" type="button">Delete</button>
                        </li>
                    </ul>
                </div>
                </td>
              </tr>
              <%= render "confirm_delete_modal", vendor_adjustiment: vendor_adjustiment%>
            <%end%>
            </tbody>
          </table>
          <%= render "pagination" %>
        
        </div>
      </div>
    </div>
  </div>
</div>
</div>
