<%= render "shared/order_nav"%>
<div class="px-4 pt-4 bg-white dark:bg-gray-900">
<div class="grid w-full grid-cols-2 gap-4 mb-3">
  <div class="col-span-1">
    <h1 class="text-gray-800 text-md dark:text-gray-100">Orders</h1>
  </div>
  <div class="col-span-1 text-right">
  <%= link_to "Export Excel",
    export_orders_path(
      query: params[:query],
      start_date: params[:start_date],
      end_date: params[:end_date]
    ),
    class: "px-4 py-2 text-sm text-white bg-green-600 rounded-lg hover:bg-green-700",
    data: { turbo: false } %>
    
    <%= link_to new_order_path, class:"bg-slate-700 text-slate-100 p-1 px-3 text-sm rounded-full dark:text-slate-100 dark:bg-slate-700" do %> <i class="fas fa-plus"></i> New order<%end%>
  </div>  
</div>

<!-- Filters -->
  <div class="flex w-full mb-3">

    <%= form_tag orders_path,
      class:"flex items-end gap-2 flex-wrap",
      method: :get,
      data:{
        turbo_frame:"search_results",
        turbo_action:"advance",
        controller:"search",
        action:"input->search#submit"
      } do %>

      <!-- Search -->
      <div class="relative">
        <%= label_tag :query, "Search", class:"block mb-1 text-xs" %>

        <%= text_field_tag "query",
          params[:query],
          class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5",
          placeholder:"Search product ..." %>
      </div>

      <!-- Start Date -->
      <div>
        <%= label_tag :start_date, "From", class:"block mb-1 text-xs" %>

        <%= date_field_tag :start_date,
          params[:start_date],
          class:"bg-gray-50 border border-gray-300 text-sm rounded-lg p-2.5" %>
      </div>

      <!-- End Date -->
      <div>
        <%= label_tag :end_date, "To", class:"block mb-1 text-xs" %>

        <%= date_field_tag :end_date,
          params[:end_date],
          class:"bg-gray-50 border border-gray-300 text-sm rounded-lg p-2.5" %>
      </div>

    <% end %>

  </div>
<!-- Table -->
<div class="flex flex-col mt-6">
  <div class="overflow-x-auto rounded-lg">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden shadow sm:rounded-lg">
        <div id="orders">
        <%= turbo_frame_tag "search_results" do%>
          <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
            <thead class="bg-gray-50 dark:bg-gray-700">
              <tr>
                <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                  Order Details
                </th>
                <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                  Product Details.
                </th>
                <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                  Action
                </th>
              </tr>
            </thead>
            <tbody class="bg-white dark:bg-gray-800">
            <% @orders.each_with_index do |order, index| %>
              <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                  <div class="flex flex-col space-y-1">
                    <span class="text-sm font-medium"><%= order.order_date&.strftime("%d %b, %Y") %> (<%= order.order_number %>)</span>
                    <span class="text-sm">Order #: <span class="font-normal"><%= order.order_number %></span></span>
                    <span class="text-xs">Route: <span class="font-normal"><%= order.description %></span></span>
                    <span class="text-xs">Status: <span class="font-normal"><%= render "order_status", order: order %></span></span>
                  </div>
                </td>
                <td class="p-4 text-sm font-normal text-gray-900 whitespace-normal dark:text-white">
                  <table class="min-w-full border border-collapse border-gray-300 dark:border-gray-700">
                    <thead>
                      <tr class="bg-gray-100 dark:bg-gray-800">
                        <th class="px-2 py-1 text-xs font-normal border border-gray-300 dark:border-gray-700">#</th>
                        <th class="px-2 py-1 text-xs font-normal border border-gray-300 dark:border-gray-700">Product</th>
                        <th class="px-2 py-1 text-xs font-normal border border-gray-300 dark:border-gray-700">Qty Ordered</th>
                        <th class="px-2 py-1 text-xs font-normal border border-gray-300 dark:border-gray-700">Rate</th>
                        <th class="px-2 py-1 text-xs font-normal border border-gray-300 dark:border-gray-700">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% order.order_items.each_with_index do |item, index| %>
                        <tr>
                          <td class="px-2 py-1 text-xs font-normal border border-gray-300 dark:border-gray-700"><%= index+1 %></td>
                          <td class="px-2 py-1 text-xs font-normal border border-gray-300 dark:border-gray-700"><%= item.nile_product.name %></td>
                          <td class="px-2 py-1 text-xs font-normal border border-gray-300 dark:border-gray-700"><%= number_with_delimiter(item.quantity) %></td>
                          <td class="px-2 py-1 text-xs font-normal border border-gray-300 dark:border-gray-700"><%= number_with_delimiter(item.unit_price, precision: 2) %></td>
                          <td class="px-2 py-1 text-xs font-normal border border-gray-300 dark:border-gray-700"><%= number_with_delimiter(item.total, precision: 2) %></td>
                        </tr>
                      <% end %>
                      <tr><td></td><td></td><td></td><td></td><td><span class="text-xs font-bold"><%= number_with_delimiter(order.total_price, precision: 2) %></span></td></tr>
                    </tbody>
                  </table>
                </td>
                
                <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                  <button type="button" class="flex items-center gap-2 p-1 px-3 text-xs text-blue-800 bg-blue-200 rounded dark:text-blue-200 dark:bg-blue-800" id="order-menu-button" aria-expanded="false" data-dropdown-toggle="action-dropdown-<%=order.id%>" data-dropdown-placement="bottom">
                    <span class="flex-1 text-left ms-3 rtl:text-right whitespace-nowrap">Action</span>
                    <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
            
                <!-- Dropdown menu -->
                <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="action-dropdown-<%=order.id%>">                    
                    <ul class="py-2" aria-labelledby="order-menu-button">
                        <%if  order.status.code=="OS"%>
                          <li>
                            <%= link_to new_beer_dispatch_path(id: order.id), data:{turbo: false}, class:"block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" do %>Dispatch order<%end%>
                        </li>
                        <li>
                            <%= link_to edit_order_path(order), data:{turbo: false}, class:"block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" do %>Edit<%end%>
                        </li>
                        <li>
                            <button data-modal-target="popup-modal-<%=order.id%>" data-modal-toggle="popup-modal-<%=order.id%>" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" type="button">Delete</button>
                        </li>
                        <%end%>
                    </ul>
                </div>
                </td>
              </tr>
              <%= render "confirm_delete_modal", order: order%>
            <%end%>
            </tbody>
          </table>
          <%= render "pagination" %>
        <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
