
<%= form_with model: @order_driver, url: update_receipt_order_path(@order), method: :patch, local: true do |form| %>

  <% if @order_driver.errors.any? %>
    <div class="grid-cols-1" data-controller="alert" data-alert-target="alertDialog">
      <div id="alert-2" class="flex items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Info</span>
        <div class="text-sm font-medium ms-3">
          <% @order_driver.errors.each do |error| %>
            <%= error.full_message %>,
          <% end %>
        </div>
        <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700" data-action="click->alert#closeAlert" aria-label="Close">
          <span class="sr-only">Close</span>
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
        </button>
      </div>
    </div>
  <% end %>
<div class="rounded-lg shadow-lg dark:bg-gray-800">

  <div class="grid grid-cols-3 gap-4 p-4">
    <div>
      <label for="system_module_id" class="text-sm text-gray-600 dark:text-gray-400">Driver</label>
      <%= form.collection_select :driver_id, @drivers, :id, :name, {prompt: "Choose a module"}, {class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"} %>
    </div>
  </div>
  <div class="flex justify-end gap-4 p-4 mx-auto">
    <div class="inline-flex">
      <%= form.submit "Assign", class:"bg-slate-700 hover:bg-slate-100 text-slate-100 p-1 px-3 text-md rounded-full dark:text-slate-100 dark:bg-slate-700"  %>
    </div>
    <div class="inline-flex">
      <%= link_to "Back to orders", orders_path, class:"bg-red-200 text-red-800 p-1 px-3 text-md rounded-full dark:text-red-200 dark:bg-red-900" %>
    </div>
  </div>
</div>
<% end %>