<div id="<%= dom_id sale_item %>">
  <p>
    <strong>Loading order item:</strong>
    <%= sale_item.loading_order_item_id %>
  </p>

  <p>
    <strong>Quantity sold:</strong>
    <%= sale_item.quantity_sold %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= sale_item.amount %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= sale_item.total %>
  </p>

</div>
