<div id="<%= dom_id loading_order %>">
  <p>
    <strong>Driver:</strong>
    <%= loading_order.driver_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= loading_order.user_id %>
  </p>

  <p>
    <strong>Territory:</strong>
    <%= loading_order.territory_id %>
  </p>

  <p>
    <strong>Vehicle numperplate:</strong>
    <%= loading_order.vehicle_numperplate %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= loading_order.destination %>
  </p>

  <p>
    <strong>Loading date:</strong>
    <%= loading_order.loading_date %>
  </p>

  <p>
    <strong>Order number:</strong>
    <%= loading_order.order_number %>
  </p>

  <p>
    <strong>Sales man:</strong>
    <%= loading_order.sales_man %>
  </p>

  <p>
    <strong>Authorized by:</strong>
    <%= loading_order.authorized_by %>
  </p>

  <p>
    <strong>Verified by:</strong>
    <%= loading_order.verified_by %>
  </p>

</div>
