<div id="<%= dom_id sale_empty %>">
  <p>
    <strong>Sale:</strong>
    <%= sale_empty.sale_id %>
  </p>

  <p>
    <strong>Empty type:</strong>
    <%= sale_empty.empty_type_id %>
  </p>

  <p>
    <strong>Expected:</strong>
    <%= sale_empty.expected %>
  </p>

  <p>
    <strong>Received:</strong>
    <%= sale_empty.received %>
  </p>

  <p>
    <strong>Variance:</strong>
    <%= sale_empty.variance %>
  </p>

</div>
