<div id="<%= dom_id payment %>">
  <p>
    <strong>Territory:</strong>
    <%= payment.territory_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= payment.user_id %>
  </p>

  <p>
    <strong>Bank account:</strong>
    <%= payment.bank_account_id %>
  </p>

  <p>
    <strong>Recepient:</strong>
    <%= payment.recepient_id %>
  </p>

  <p>
    <strong>Recepient type:</strong>
    <%= payment.recepient_type %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= payment.payment_method %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Payment date:</strong>
    <%= payment.payment_date %>
  </p>

  <p>
    <strong>Payment ref:</strong>
    <%= payment.payment_ref %>
  </p>

</div>
