<div id="<%= dom_id territory %>">
  <p>
    <strong>Name:</strong>
    <%= territory.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= territory.address %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= territory.telephone %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= territory.department_id %>
  </p>

</div>
