<div id="<%= dom_id inventory_transaction %>">
  <p>
    <strong>Inventory item:</strong>
    <%= inventory_transaction.inventory_item_id %>
  </p>

  <p>
    <strong>Transaction date:</strong>
    <%= inventory_transaction.transaction_date %>
  </p>

  <p>
    <strong>Transaction quantity:</strong>
    <%= inventory_transaction.transaction_quantity %>
  </p>

  <p>
    <strong>Transaction type:</strong>
    <%= inventory_transaction.transaction_type %>
  </p>

  <p>
    <strong>Direction:</strong>
    <%= inventory_transaction.direction %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= inventory_transaction.note %>
  </p>

</div>
