<%= form_with(model: tax) do |form| %>
  <% if tax.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tax.errors.count, "error") %> prohibited this tax from being saved:</h2>

      <ul>
        <% tax.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :tax_percentage, style: "display: block" %>
    <%= form.text_field :tax_percentage %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
