<p style="color: green"><%= notice %></p>

<%= render @tt_product %>

<div>
  <%= link_to "Edit this tt product", edit_tt_product_path(@tt_product) %> |
  <%= link_to "Back to tt products", tt_products_path %>

  <%= button_to "Destroy this tt product", @tt_product, method: :delete %>
</div>
