<div id="<%= dom_id driver %>">
  <p>
    <strong>Employee:</strong>
    <%= driver.employee_id %>
  </p>

  <p>
    <strong>License number:</strong>
    <%= driver.license_number %>
  </p>

  <p>
    <strong>Issued date:</strong>
    <%= driver.issued_date %>
  </p>

  <p>
    <strong>Expiry date:</strong>
    <%= driver.expiry_date %>
  </p>

  <p>
    <strong>License class:</strong>
    <%= driver.license_class %>
  </p>

  <p>
    <strong>Issued by:</strong>
    <%= driver.issued_by %>
  </p>

</div>
