<div id="<%= dom_id nile_product %>">
  <p>
    <strong>Name:</strong>
    <%= nile_product.name %>
  </p>

  <p>
    <strong>Crate size:</strong>
    <%= nile_product.crate_size %>
  </p>

  <p>
    <strong>Bottle size:</strong>
    <%= nile_product.bottle_size %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= nile_product.description %>
  </p>

  <p>
    <strong>Nile category:</strong>
    <%= nile_product.nile_category_id %>
  </p>

</div>
