<div id="<%= dom_id cheque %>">
  <p>
    <strong>User:</strong>
    <%= cheque.user_id %>
  </p>

  <p>
    <strong>Territory:</strong>
    <%= cheque.territory_id %>
  </p>

  <p>
    <strong>Bank transaction:</strong>
    <%= cheque.bank_transaction_id %>
  </p>

  <p>
    <strong>Cheque number:</strong>
    <%= cheque.cheque_number %>
  </p>

  <p>
    <strong>Payee:</strong>
    <%= cheque.payee %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= cheque.status %>
  </p>

  <p>
    <strong>Issue date:</strong>
    <%= cheque.issue_date %>
  </p>

  <p>
    <strong>Cleared date:</strong>
    <%= cheque.cleared_date %>
  </p>

</div>
