<p style="color: green"><%= notice %></p>

<%= render @cheque %>

<div>
  <%= link_to "Edit this cheque", edit_cheque_path(@cheque) %> |
  <%= link_to "Back to cheques", cheques_path %>

  <%= button_to "Destroy this cheque", @cheque, method: :delete %>
</div>
