
<div class="rounded-lg shadow-lg dark:bg-gray-800">
<%= form_with(model: sale) do |form| %>

  <% if @sale.errors.any? %>
    <div class="grid-cols-1" data-controller="alert" data-alert-target="alertDialog">
      <div id="alert-2" class="flex items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Info</span>
        <div class="text-sm font-medium ms-3">
          <% @sale.errors.each do |error| %>
            <%= error.full_message %>,
          <% end %>
        </div>
        <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700" data-action="click->alert#closeAlert" aria-label="Close">
          <span class="sr-only">Close</span>
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
        </button>
      </div>
    </div>
  <% end %>
  <div class="grid grid-cols-3 gap-4 p-4">
    <div>
      <%= form.label :sale_date, class:"text-sm text-gray-600 dark:text-gray-400" %> <i class="text-sm text-red-600 dark:text-red-400">*</i>
      <%= form.datetime_field :sale_date, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
    </div>
    <div>
      <%= form.label :sales_route, class:"text-sm text-gray-600 dark:text-gray-400" %>
      <%= form.text_field :sales_route, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
    </div>
    <div>
      <%= form.label :customer, class:"text-sm text-gray-600 dark:text-gray-400" %>
      <%= form.text_field :customer_name, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
    </div>
    <div>
      <%= form.label :customer_mobile, class:"text-sm text-gray-600 dark:text-gray-400" %>
      <%= form.text_field :customer_mobile, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
    </div>
    <div>
      <%= form.label :customer_tin, class:"text-sm text-gray-600 dark:text-gray-400" %>
      <%= form.text_field :tin, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
    </div>

    <div>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :status_id, value: "12" %>
      <%= form.hidden_field :territory_id, value: current_territory.id %>
      <%= form.hidden_field :store_id, value: current_user.store&.id %>
    </div>
  </div>
  <%# nested form starts here %>
  <h4 class="mx-2 text-gray-600 dark:text-gray-300">Select Items</h4>
  <hr class="bg-gray-200 h-[1px] border-t-0 my-2 dark:bg-gray-700">
  <div  data-controller= 'nested-form', data-nested-form-wrapper-selector_value= '.nested-form-wrapper' data-nested-form-target="sale_items_wrapper">
    <div class="grid grid-cols-1">
      <template data-nested-form-target="template" data-association="sale_items">
        <%= form.fields_for :sale_items, SaleItem.new, child_index: 'NEW_RECORD' do |item_fields| %>
          <div class="nested-form-wrapper">
          <%= render "item_form", f: item_fields %>
          </div>
        <% end %>
      </template>
      <%= form.fields_for :sale_items do |item_fields| %>
        <div class="nested-form-wrapper">
        <%= render "item_form", f: item_fields %>
        </div>
      <% end %>
      <!-- Inserted elements will be injected before that target. -->
      <div data-nested-form-target="target" data-association="sale_items"></div>
    </div>
  
    <div class="flex justify-end mx-4 text-end">
      <button type="button" class="px-2 py-1 text-xs text-green-200 bg-green-700 rounded dark:text-green-700 dark:bg-green-200" data-action="nested-form#add"  data-association="sale_items">Add Record</button>
    </div>
  </div>
  <hr class="bg-gray-200 h-[1px] border-t-0 my-2 dark:bg-gray-700">
  <div class="grid grid-cols-3 gap-4 p-4">
    <div>
      <%= form.label :mode_of_payment, class:"text-sm text-gray-600 dark:text-gray-400" %> <i class="text-sm text-red-600 dark:text-red-400">*</i>
      <%= form.select :mode_of_payment, Sale.mode_of_payments.keys.map { |mode_of_payment| [mode_of_payment.humanize, mode_of_payment] }, { include_blank: "Select mode of payment" }, {id: "mode_of_payment", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"} %>
    </div>
    <div>
      <%= form.label :payment_ref, class:"text-sm text-gray-600 dark:text-gray-400" %>
      <%= form.text_field :tpayment_refin, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
    </div>
  </div>
  <div class="grid grid-cols-3 gap-4 ml-4">
    <div class="col-span-1">
      <%= form.label :notes, class:"text-sm text-gray-600 dark:text-gray-400" %>
      <%= form.text_area :notes, rows: 5, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
    </div>
    <div class="col-span-2">
      <div class="flex justify-end mr-4 text-sm text-gray-600 text-end dark:text-gray-400"> 
        <table>
          <tr><td>Sub total</td><td><span id="sub_total">0</span></td></tr>
          <tr><td>VAT(18%)</td><td><span id="tax">0</span></td></tr>
          <tr><td>Grand total</td><td><span id="grand_total"></span></td></tr>
        </table>
      </div>
      <div  data-controller= 'nested-form', data-nested-form-wrapper-selector_value= '.nested-form-wrapper' data-nested-form-target="sale_empties_wrapper">
        <div class="flex text-gray-600 dark:text-gray-400">Empties</div>
          <template data-nested-form-target="template" data-association="sale_empties">
            <%= form.fields_for :sale_empties, SaleEmpty.new, child_index: 'NEW_RECORD' do |empty_fields| %>
              <div class="nested-form-wrapper">
              <%= render "empty_form", f: empty_fields %>
              </div>
            <% end %>
          </template>
          <%= form.fields_for :sale_empties do |empty_fields| %>
            <div class="nested-form-wrapper">
            <%= render "empty_form", f: empty_fields %>
            </div>
          <% end %>
          <!-- Inserted elements will be injected before that target. -->
          <div data-nested-form-target="target" data-association="sale_empties"></div>
        <div>
        <div class="flex justify-end mx-4 text-end">
          <button type="button" class="px-2 py-1 text-xs text-green-200 bg-green-700 rounded dark:text-green-700 dark:bg-green-200" data-action="nested-form#add"  data-association="sale_empties">Add Record</button>
        </div>
      </div>
  </div>
  <%# nested form ends here %>
  <div class="flex justify-end gap-4 p-4 mx-auto">
    <div class="inline-flex">
      <%= form.submit "Save sale", class:"bg-slate-700 text-slate-100 p-1 px-3 text-md rounded-full dark:text-slate-100 dark:bg-slate-700"  %>
    </div>
    <div class="inline-flex">
      <%= link_to "Back to sales", sales_path, class:"bg-red-200 text-red-800 p-1 px-3 text-md rounded-full dark:text-red-200 dark:bg-red-900", data: { turbo: "false" } %>
    </div>
  </div>
<% end %>
</div>

