<div id="sale-item-row" class="flex items-center justify-between gap-1 px-5 order-item-row nested-form-wrapper" data-new-record="<%= f.object.new_record? %>"  data-controller="sale">
    <div>
        <%= f.label :loading_order_item_id, 'Product', class:"text-xs text-gray-600 dark:text-gray-400" %> <i class="text-sm text-red-600 dark:text-red-400">*</i>
        <%= f.collection_select :loading_order_item_id, @products, :id, :name, {prompt: "Choose a product"}, {class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", data:{controller:"sale", action: "change->sale#fetchProductDetails"}} %>
    </div>
    <div>
        <%= f.label :quantity_sold , class:"text-xs text-gray-600 dark:text-gray-400"%> <i class="text-sm text-red-600 dark:text-red-400">*</i>
        <%= f.text_field :quantity_sold, step: 1, min: 1 , class:"quantity-field bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", data: { sale_target: "quantity", action:"change->sale#getTotal" }%>
    </div>
    <div>
        <%= f.label :amount, 'Unit price', class:"text-xs text-gray-600 dark:text-gray-400" %> <i class="text-sm text-red-600 dark:text-red-400">*</i>
        <%= f.text_field :amount, step: 1, min: 1 , class:"amount-field bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", data: { sale_target: "amount", action:"change->sale#getTotal" }%>
    </div>
    <div>
        <%= f.label :total , class:"text-xs text-gray-600 dark:text-gray-400"%> <i class="text-sm text-red-600 dark:text-red-400">*</i>
        <%= f.text_field :total, step: 0.01 , class:"itemtotal-field bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",data: { sale_target: "itemtotal" }, readonly: true %>
    </div>
    <div>
        <span class="px-2 py-1 text-xs text-red-200 bg-red-700 rounded dark:text-red-700 dark:bg-red-200">
        <button type="button" data-action="nested-form#remove">Remove <i class="fas fa-trash"></i></button>
        </span>
    </div>
</div>
<%= f.hidden_field :_destroy %>
