<div id="<%= dom_id sale %>">
  <p>
    <strong>Loading order item:</strong>
    <%= sale.loading_order_item_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= sale.customer_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= sale.user_id %>
  </p>

  <p>
    <strong>Quantity sold:</strong>
    <%= sale.quantity_sold %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= sale.amount %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= sale.total %>
  </p>

  <p>
    <strong>Sale type:</strong>
    <%= sale.sale_type %>
  </p>

  <p>
    <strong>Mode of payment:</strong>
    <%= sale.mode_of_payment %>
  </p>

</div>
